.item {
  align-items: center;
  padding: 15px 0 0 0;
}

.a {
  width: 15vw;
}

.b {
 width: 12vw;
}

.c {
  min-width: 80px;
  width: 12vw;
}

.d {
  width: 12vw;
}

.a, .b, .c, .d {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guide {
  top: 65px;
  position: sticky;
  z-index: 2;
}

.scroll-wrapper {
  overflow-y: auto;
  font-family: "noir";
  padding: 15px 3vw;
}