body {
  overflow: hidden;
}

.order-container::-webkit-scrollbar {
  background-color: #0A6847;
  border-radius: 20px;
  margin-bottom: 200px;
}
.order-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #7ABA78;
}

.title {
  width: 95vw;
  border-radius: 12px;
  padding: 13px 0px 13px 37px;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 600;
  font-family: Inter;
  background-color: #F3CA52;
}

.col-container {
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-container div {
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
}

.col-container .price {
  transform: translateX(-20px);
}

.col-container .status {
  transform: translateX(-10px);
}

.col-container .date {
  transform: translateX(-20px);
}

.order-container {
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 78px;
  padding-top: 25px;
  border-top: 1px solid black;
}

.content-container div {
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
}

.id {
  width: 200px;
}

.date {
  width: 136px;
}

.status {
  width: 92px;
}

.price {
  width: 130px;
}