main {
    padding: 5vh 3vw;
}

#nav-wrapper {
    width: 20vw;
    min-width: 200px;
}

.id, .name, .price, .desc {
    text-wrap: nowrap;
    overflow-x: auto;
}

.id {
    width: 10%;
    min-width: 60px;
}

.name {
    width: 25%;
    min-width: 80px;
}

.price {
    width: 15%;
    min-width: 60px;
}

.desc {
    flex: 1;
}

.background {
    z-index: 1000;
}

.modal {
    z-index: 2000;
}

.modal-input-wrapper input{
    border-bottom: 2px solid var(--1);
}